{% extends 'base.html' %}
{% load static %}

{% block navbar %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid justify-content-start">
    <a class="navbar-brand me-2" href="{% url 'management:login' %}">管理者画面</a>
    <span class="navbar-text"> - {% block title %}{% endblock %}</span>
  </div>
</nav>
{% endblock %}