{% extends 'management/no_menu/base.html' %}
{% load static %}

{% block title %}管理者本登録{% endblock %}

{% block content %}
<div class="container">
  {% include 'include/messages.html' %}
  <div class="row mt-5 justify-content-center">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <form method="post">
            {% csrf_token %}
            <div class="mb-3">
              {% include 'include/field_errors.html' with field=form.password %}
            </div>
            <div class="mb-4">
              {% include 'include/field_errors.html' with field=form.conf_password %}
            </div>
            <div class="d-grid gap-2 mb-3">
              <button class="btn btn-primary" type="submit">登録</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock%}