{% extends 'management/no_menu/base.html' %}
{% load static %}

{% block title %}管理者登録完了{% endblock %}

{% block content %}
<div class="container">
  <div class="row mt-5 justify-content-center">
    <div class="col-12">
      <div class="card">
        <div class="card-body text-center">
          <h1 class="text-center">
            <i class="fas fa-check-circle"></i>
            <p class="border-bottom pb-3">登録完了</p>
          </h1>
          <h3>まだログインはできません。</h3>
          <h3>システム管理者の承認をお待ちください。</h3>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
