{% extends 'management/no_menu/base.html' %}
{% load static %}

{% block title %}ログイン{% endblock %}

{% block content %}
<div class="container">
  {% include 'include/messages.html' %}
  <div class="row mt-5 justify-content-center">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <form method="post">
            {% csrf_token %}
            {% include 'include/non_field_errors.html' %}
            <div class="mb-3">
              {% include 'include/field_errors.html' with field=form.name %}
            </div>
            <div class="mb-4">
              {% include 'include/field_errors.html' with field=form.password %}
            </div>
            <div class="d-grid gap-2 mb-3">
              <button class="btn btn-primary" type="submit">送信</button>
            </div>
            <div class="text-center border-top pt-2">
              <span>初めてですか？</span><br>
              <span><a href="{% url 'management:create_temporary_manager' %}">ユーザー登録はこちらから</a></span>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock%}