{% extends 'management/menu/base.html' %}
{% load static %}

{% block title %}予約一覧{% endblock %}

{% block style %}
<link href="{% static 'css/datetimepicker.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="container">
  <!-- search_form row -->
  <div class="row mt-5 justify-content-center">
    <div class="col-12">
      <div class="card">
        <div class="card-body pt-2 pb-0">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <a data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false"
                 aria-controls="collapseExample" style="display: block;">
                <i class="fas fa-search me-2"></i>検索条件
              </a>
            </li>
            <li class="list-group-item">
              <div class="collapse mb-2" id="collapseExample">
                <form method="get">
                  {% include 'include/errors.html' with errors=form.non_field_errors %}
                  
                  <!-- from_visit_date -->
                  <div class="mb-3">
                    <span>{{ form.from_visit_date.label_tag }}</span>
                    <div class="input-group date mb-3" id="from-date-picker" data-target-input="nearest">
                      {{ form.from_visit_date }}
                      <div class="input-group-text from-date-picker-icon" data-target="#from-date-picker"
                           data-toggle="datetimepicker">
                        <i class="far fa-calendar-alt"></i>
                      </div>
                    </div>
                    {% include 'include/errors.html' with errors=form.from_visit_date.errors %}
                  </div>
                  <!-- end of from_visit_date -->
                  <!-- to_visit_date -->
                  <div class="mb-3">
                    <span>{{ form.to_visit_date.label_tag }}</span>
                    <div class="input-group date mb-3" id="to-date-picker" data-target-input="nearest">
                      {{ form.to_visit_date }}
                      <div class="input-group-text to-date-picker-icon" data-target="#to-date-picker"
                           data-toggle="datetimepicker">
                        <i class="far fa-calendar-alt"></i>
                      </div>
                    </div>
                    {% include 'include/errors.html' with errors=form.to_visit_date.errors %}
                  </div>
                  <!-- end of from_visit_date -->
                  <div class="mb-3">
                    {{ form.only_my_customer_flg }}{{ form.only_my_customer_flg.label_tag }}
                    {% include 'include/errors.html' with errors=form.only_my_customer_flg.errors %}
                  </div>
                  
                  <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-primary">検索</button>
                  </div>
                
                </form>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- end of search_form row -->
  
  <!-- page_obj row -->
  <div class="row">
    <div class="col-12">
      {% for o in page_obj %}
      {% endfor %}
    </div>
  </div>
  
  <!-- end of page_obj row -->

</div>
{% endblock content %}

{% block script %}
<script src="{% static 'js/appointment_list.js' %}" type="text/javascript"></script>
{% endblock %}
