{% extends 'management/menu/base.html' %}
{% load static %}

{% block title %}予約一覧{% endblock %}

{% block style %}
<link href="{% static 'css/datetimepicker.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="container">
  {% include 'include/messages.html' %}
  <!-- search_form row -->
  <div class="row mt-3 justify-content-center">
    <div class="col-12">
      <form id="edit_manager_form" method="post" action="">
        {% csrf_token %}
        <ul class="list-group">
          <li class="list-group-item">
            <div class="mt-2 mb-3">
              {{ form.name.label_tag }}{{ form.name }}
              {% include 'include/errors.html' with errors=form.name.errors %}
            </div>
            
            <div class="mb-3">
              {{ form.mail_address.label_tag }}{{ form.mail_address }}
              {% include 'include/errors.html' with errors=form.mail_address.errors %}
            </div>
            
            <div class="mb-3">
              {{ form.is_authorized.label_tag }}<br>
              <div class="mt-1 d-grid gap-2">
                {{ form.is_authorized }}
                <label id="btn_label_is_authorized" class="btn btn-outline-success" for="id_is_authorized">
                  {% if manager.is_authorized %}<i class="fas fa-user-check"></i>{% else %}<i class="fas fa-user-slash"></i>{% endif %}
                </label>
              </div>
              {% include 'include/errors.html' with errors=form.is_authorized.errors %}
            </div>
            
            <div class="mb-3">
              {{ form.is_system_manager.label_tag }}<br>
              <div class="mt-1 d-grid gap-2">
                {{ form.is_system_manager }}
                <label id="btn_label_is_system_manager" class="btn btn-outline-success" for="id_is_system_manager">
                  {% if manager.is_system_manager %}<i class="fas fa-user-check"></i>{% else %}<i class="fas fa-user-slash"></i>{% endif %}
                </label>
              </div>
              {% include 'include/errors.html' with errors=form.is_system_manager.errors %}
              {% if form.hidden_is_system_manager %}
              {{ form.hidden_is_system_manager.as_hidden }}
              {% include 'include/errors.html' with errors=form.hidden_is_system_manager.errors %}
              {% endif %}
            </div>
          </li>
          <li class="list-group-item">
            <div class="d-grid gap-2 my-2">
              <button id="submit_edit_manager" type="submit" class="btn btn-primary">変更</button>
            </div>
          </li>
        </ul>
      
      
      </form>
    </div>
  </div>
  <!-- end of search_form row -->
</div>
{% endblock content %}

{% block script %}
<script src="{% static 'js/edit_manager.js' %}" type="text/javascript"></script>
{% endblock %}
