{% extends 'management/menu/base.html' %}
{% load static %}

{% block title %}予約一覧{% endblock %}

{% block style %}
<link href="{% static 'css/datetimepicker.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="container">
  <!-- search_form row -->
  <div class="row mt-5 justify-content-center">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <form id="manager_list_search_form" method="get" action="">
            {{ form.only_not_authorized_flg }}{{ form.only_not_authorized_flg.label_tag }}
            {% include 'include/errors.html' with errors=form.only_not_authorized_flg.errors %}
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- end of search_form row -->
  
  <!-- page_obj row -->
  <div class="row">
    <div class="col-12">
      {% for manager in page_obj %}
      <div class="card mt-4">
        <div class="card-body">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">{{ manager.name }}</li>
            <li class="list-group-item">{{ manager.mail_address }}</li>
            <li class="list-group-item">
              管理者承認&emsp;
              {% if manager.is_authorized %}<i class="far fa-check-circle" style="color: green"></i>
              {% else %}<i class="fas fa-times-circle" style="color: red"></i>{% endif %}
            </li>
            <li class="list-group-item">
              システムマネージャー&emsp;
              {% if manager.is_system_manager %}<i class="far fa-check-circle" style="color: green"></i>
              {% else %}<i class="fas fa-times-circle" style="color: red"></i>{% endif %}
            </li>
          </ul>
          <div class="d-grid gap-2 mt-1">
            <a class="btn btn-success" href="{% url 'management:edit_manager' manager.id %}" role="button">編集</a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  <!-- end of page_obj row -->
  
  <!-- paginator row-->
  <div class="row mt-4">
    <div class="col-12">
      {% include 'include/paginator.html' %}
    </div>
  </div>
  <!-- end of paginator row -->

</div>
{% endblock content %}

{% block script %}
<script src="{% static 'js/manager_list.js' %}" type="text/javascript"></script>
{% endblock %}
