{% extends 'appointment/base.html' %}
{% load static %}

{% block title%}ログイン{% endblock%}

{% block style %}
<link href="{% static 'css/datetimepicker.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="container">
  {% include 'include/messages.html' %}
  <div class="row mt-5 justify-content-center">
    <div class="col-10">
      <div class="card">
        <div class="card-header">
          
          {% if appointment %}
          ご予約日時:<br>
          <span style="color: red;">{{ appointment.visit_at|date:"Y年m月d日 H時i分" }}</span><br>
          ご来店理由:<br>
          {{ appointment.visiting_purpose }}
          {% else %}ご予約日時: なし{% endif %}
        </div>
        <div class="card-body">
          <form method="post">
            {% csrf_token %}
            {% include 'include/non_field_errors.html' %}
            
            <div class="mb-3">
              <span>{{ form.visit_date.label_tag }}</span>
              <div class="input-group date mb-3" id="date-picker" data-target-input="nearest">
                {{ form.visit_date }}
                <div class="input-group-text  date-picker-icon" data-target="#date-picker" data-toggle="datetimepicker">
                  <i class="far fa-calendar-alt"></i>
                </div>
              </div>
              {% include 'include/errors.html' with errors=form.visit_date.errors %}
            </div>
            
            <div class="mb-3">
              <span>{{ form.visit_time.label_tag }}</span>
              <div class="input-group date mb-3" id="time-picker" data-target-input="nearest">
                {{ form.visit_time }}
                <div class="input-group-text time-picker-icon" data-target="#time-picker" data-toggle="datetimepicker">
                  <i class="far fa-clock"></i>
                </div>
              </div>
              {% include 'include/errors.html' with errors=form.visit_time.errors %}
            </div>
            
            <div class="mb-3">
              {% include 'include/field_errors.html' with field=form.visiting_purpose %}
            </div>
            
            <div class="d-grid gap-2">
              {% if appointment %}
              <button class="btn btn-info" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal">予約を削除
              </button>
              {% else %}
              <button class="btn btn-primary" type="submit">送信</button>
              {% endif %}
            </div>
          
          </form>
        </div>
      </div>
    </div>
  </div>
</div>


{% include 'modal/delete_appointment_conf.html' %}
{% endblock %}

{% block script %}
<script src="{% static 'js/datetimepicker.js' %}" type="text/javascript"></script>
{% endblock %}