{% extends 'base.html' %}
{% load static %}

{% block navbar %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="">ご来店予約</a>
    <div class="d-flex">
      {% if request.customer %}
      <span class="navbar-text me-3">{{ request.customer }} 様</span>
      <button class="btn btn-secondary btn-sm" type="button" data-bs-toggle="modal" data-bs-target="#logoutModal">ログアウト
      </button>
      {% else %}
      <span class="navbar-text">ログイン</span>
      {% endif %}
    </div>
  </div>
</nav>

<!-- ログアウトボタン押下時の確認用モーダル -->
<div class="modal" id="logoutModal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">ご確認</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>ログアウトしますか？</p>
      </div>
      <div class="modal-footer">
        <form id="deleteForm" method="post" action="{% url 'appointment:logout' %}">{% csrf_token %}</form>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">いいえ</button>
        <button form="deleteForm" class="btn btn-primary">ログアウト</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}