{% extends 'appointment/base.html' %}
{% load static %}

{% block title%}ログイン{% endblock%}

{% block content %}
<div class="container">
  {% include 'include/messages.html' %}
  <div class="row mt-5 justify-content-center">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <form method="post">
            {% csrf_token %}
            <div class="mb-3">
              {% include 'include/field_errors.html' with field=form.name %}
            </div>
            <div class="mb-3">
              {% include 'include/field_errors.html' with field=form.phone_number %}
              <div id="phoneNumberHelp" class="form-text">{{ form.phone_number.help_text }}</div>
            </div>
            <div class="d-grid gap-2">
              <button class="btn btn-primary" type="submit">送信</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock%}