{% if messages %}
<div class="row mt-3 justify-content-center">
  <div class="col-10">
    <ul class="messages">
      {% for message in messages %}
      <li class="alert alert-{{ message.tags }} alert-dismissible fade show">{{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>
{% endif %}