<div>
  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
      {% if page_obj.has_previous %}
      <li class="page-item">
        <a class="page-link text-primary" href="?page={{ page_obj.previous_page_number }}">&laquo;</a>
      </li>
      {% else %}
      <li class="page-item disabled">
        <a class="page-link text-secondary disabled" href="#">&laquo;</a>
      </li>
      {% endif %}
      
      {% for link_page in page_obj.paginator.page_range %}
      {% if link_page == page_obj.number %}
      <li class="page-item active">
        <a class="page-link disabled" href="#">{{ link_page }}</a>
      </li>
      {% else %}
      <li class="page-item">
        <a class="page-link text-primary" href="?page={{ link_page }}">{{ link_page }}</a>
      </li>
      {% endif %}
      {% endfor %}
      
      {% if page_obj.has_next %}
      <li class="page-item">
        <a class="page-link text-primary" href="?page={{ page_obj.next_page_number }}">&raquo;</a>
      </li>
      {% else %}
      <li class="page-item disabled">
        <a class="page-link text-secondary disabled" href="#">&raquo;</a>
      </li>
      {% endif %}
    </ul>
  </nav>
</div>
